<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ renderData.title or title or metadata.title}}
    </title>
    <meta name="{{metadata.title}}" content="{{metadata.description}}" />
    <meta name="{{metadata.images.source}}" content="{{metadata.images.description}}" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
  </head>

  <body>
    <header>
      <div class="header-container">
        <div class="logo">  
          <img src={{logo}} alt="">
        </div> 

        <div class="contact">

          <div class="flex-detail">
            <!--<img src="{{ metadata.icons.phone }}" alt="{{ title }}">
            <div class="details">
              {{phone}} 
            </div>--!>
            <img src={{ metadata.icons.email }} alt="">
            <div class="details">
              <a href="mailto:{{email}}">{{email}}</a> 
            </div>
            <img src={{ metadata.icons.home }} alt="">
            <div class="details address">
              {{address}} 
            </div>
          </div>

          <div class="flex-detail">
            <img src="{{ metadata.icons.gitHub }}" alt="{{ title }}">
            <div class="details">
              <a href="{{gitHub}}">{{github}}</a> 
            </div>
            <img src={{ metadata.icons.linkedIn }} alt="">
            <div class="details">
              <a href="{{linkedin}}">{{linkedin}}</a> 
            </div>
            <!--
            <img src={{ metadata.icons.home }} alt="">
            <div class="details">
              Other: {{other}} 
            </div>
            --!>
          </div>
        </div>
      </div>  
    </header>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>